body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
h1,h2{
    text-shadow: 0px 0px 5px black;
}
body{
    background-color: darkslateblue;
}
td:not(.ürestd){
    border-collapse: collapse;
    text-align: center;
    font-size: 2rem;
    border:1px solid white;
}
td{
    width: 5rem;
    height: 2.5rem;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
} 
.zero{
background-color: green;
color: white;
font-weight: bolder;
}

.fekete{
    background-color: black;
    color: white;
    font-weight: bolder;
}

.piros
{
    background-color: red;
    color: white;
    font-weight: bolder;
}

#sz0:hover
{
    background-color: violet;
    color: black;
    cursor: pointer;
}


button:hover
{
    background-color: violet;
    color: black;
    cursor: pointer;
}
.coin{
    width: 2rem;
    z-index: 2;
}

.közép
{
    text-align: center;
}

.Tétek{
    width: 40px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    margin: 10px;
}

button{
    border-radius: 50px;
    color: black;
    background-color: white;
}
button:hover
{
    background-color: violet;
    cursor: pointer;
}

.proget
{
    margin-top: 3rem;
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
}

.porgoszamok
{
    width: 50px;
}

.kozep{
    text-align: center;
}

.feher
{
    color: white;
    text-shadow: 0px 0px 5px black;
}

body{
    background-image: url(jobbvagyok.jfif);
    font-family:'Times New Roman', Times, serif;
}

.szamostema
{
    border: 5px solid white;
}

.nyertestema
{
    border: 5px solid gold;
    animation: mymove 3s infinite;
}

.betu{
    color: white;
    font-weight: bold;
}

.tavolsag
{
    text-align: center;
    margin-top: 75px;
}
.faszántos
{
margin-right: 100px;
}
.piros:hover{
    background-color: violet;
    color: black;
    cursor: pointer;
}

.fekete:hover{
    background-color: violet;
    color: black;
    cursor: pointer;
}
.betu:hover{
    background-color: violet;
    color: black;
    cursor: pointer;
}

.egyenloseg
{
margin-left: 10px;
margin-right: 10px;
padding-left: 10px;
padding-right: 10px;
}

.div
{
    display: inline;
}
@keyframes mymove {
    0%   {box-shadow: 0px 0px 10px rgba(225, 255, 0, 0.5);}
    25%  {box-shadow: 0px 0px 10px rgba(225, 255, 0, 0.75);}
    50%  {box-shadow: 0px 0px 50px rgba(225, 255, 0, 1);}
    75%  {box-shadow: 0px 0px 10px rgba(225, 255, 0, 0.75);}
    100% {box-shadow: 0px 0px 10px rgba(225, 255, 0, 0.5);}
  }